[submodule "Computer-Graphics"]
	path = Computer-Graphics
	url = https://github.com/40021441054102/Computer-Graphics.git
[submodule "Physics-Lab"]
	path = Physics-Lab
	url = https://github.com/40021441054102/Physics-Lab.git
[submodule "Electric-Circuits"]
	path = Electric-Circuits
	url = https://github.com/40021441054102/Electric-Circuits.git
[submodule "Database-Lab"]
	path = Database-Lab
	url = https://github.com/40021441054102/Database-Lab.git
